{% load cart_extras %}
{% load custom_filters %}

{% for category, page_obj  in category_items.items %}
    <div class="container my-5">
        <h2 class="fw-bold text-start">{{ category }}</h2>
        
    {% for item in page_obj  %}
        <div id="record" class="d-flex align-items-center justify-content-between shadow-sm p-3 mb-4 bg-white rounded">
            <!-- Изображение товара -->
            <img src="{{ item.image.url }}" alt="" style="width: 100px; height: 100px; object-fit: cover;">
        
            <!-- Описание товара -->
            <div class="ms-3 flex-grow-1">
                <a href="#" class="mb-1 fw-semibold fs-3 text-dark text-decoration-none hover-link" id="itemcss" data-bs-toggle="offcanvas" data-bs-target="#itemOffcanvas{{ item.id }}">
                    {{ item.name }}
                </a>
            </div>

            <!-- Модальное окно Offcanvas -->
            <div class="offcanvas offcanvas-end custom-offcanvas" tabindex="-1" id="itemOffcanvas{{ item.id }}" aria-labelledby="offcanvasLabel{{ item.id }}">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel{{ item.id }}">{{ item.name }}</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Карусель -->
                    <div id="carouselExampleIndicators{{ item.id }}" class="carousel slide mb-4 custom-carousel">
                        <!-- Индикаторы карусели -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators{{ item.id }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            {% for image in item.images.all %}
                                <button type="button" data-bs-target="#carouselExampleIndicators{{ item.id }}" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:1 }}"></button>
                            {% endfor %}
                        </div>
                        <!-- Внутренние элементы карусели -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ item.image.url }}" class="d-block custom-img" alt="...">
                            </div>
                            {% for image in item.images.all %}
                                <div class="carousel-item">
                                    <img src="{{ image.image.url }}" class="d-block custom-img" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Кнопки управления каруселью -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ item.id }}" data-bs-slide="prev">
                            <span class="custom-prev-icon" aria-hidden="true">
                                <i class="bi bi-arrow-left-circle-fill"></i> <!-- Иконка стрелки влево -->
                            </span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ item.id }}" data-bs-slide="next">
                            <span class="custom-next-icon" aria-hidden="true">
                                <i class="bi bi-arrow-right-circle-fill"></i> <!-- Иконка стрелки вправо -->
                            </span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                    <!-- Видео -->
                    {% if item.video %}
                        <div class="video-container mb-4">
                            <video id="itemVideo" class="w-100" controls>
                                <source src="{{ item.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>

                    {% endif %}

                    <!-- Описание товара -->
                    <div>
                      <p class="item-description">{{ item.description | safe }}</p>
                    </div>
                      <p class="item-price">Цена: <span class="">{{ item.price }} ₸</span></p>

                    <!-- Кнопка добавления -->

                </div>
            </div>
            
            <!-- Цена товара (в центре) -->
            <div class="d-flex flex-column align-items-center justify-content-center mx-3" style="min-width: 100px;">
              <p class="text-muted mb-0 fs-3">{{ item.price }} ₸/шт</p>
              <p class="text-muted mb-0 fs-6"><span id="total-price-{{ item.id }}">{{ item.price }}</span></p>
            </div>
        
            <!-- Updated Add to Cart Button with quantity and minus button -->
            <form id="add-to-cart-form-{{ item.id }}" action="{% url 'cart:cart_add' item.id %}" method="post" class="d-flex align-items-center">
              {% csrf_token %}
              
              <!-- Кнопка минус -->
              <button type="button" class="btn btn-outline-secondary" id="decrease-quantity-{{ item.id }}">-</button>
          
              <!-- Поле для ввода количества товара -->
              <input type="number" id="quantity-input-{{ item.id }}" name="quantity" 
              value="{% if item.id|stringformat:'s' in cart.cart %}{{ cart.cart|get_item:item.id }}{% else %}0{% endif %}" 
              class="form-control mx-2" style="width: 60px;">

              <!-- Кнопка плюс -->
              <button type="button" class="btn btn-outline-secondary" id="increase-quantity-{{ item.id }}">+</button>
          
              <!-- Скрытое поле для отправки формы -->
              <input type="hidden" name="override_quantity" value="True">
          </form>
        </div>
    {% endfor %}
</div>
{% endfor %}